    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
    <title> Football in Edinburgh </title>
    </head>
    <body>
    <h1>Football in Edinburgh</h1>
    {% for player in players %}
    <div>
    Player name: <a href="{{ url_for('players.view_player', id=player.id) }}">{{ player.name }}</a> 
    <br>Age: <b>{{ player.age }}</b> 
    <br>Position: <b>{{ player.position }}</b>
    <br>Club: <b>{{ player.club.club_name }}</b>
    <br>===================
    {% endfor %}
    </div>

    <form action="/players" method="POST">
        <br><label for="name">Player name:</label>
        <input type="text" name="name" id="name" />

        <br><label for="age">Age:</label>
        <input type="number" id="age" name="age"/>
        
        <br><label for="position">Position:</label>
        <input id="position" name="position" type="text"/>

        <br><label for="dropdown">Select a club:</label>
        <select id="dropdown" name="clubs">
            {% for club in clubs %}
                <option value="{{ club.id }}">{{ club.club_name }}</option>
            {% endfor %}        
    <input type="submit" value="Add Player">
    </form>
    </body>
</html>